<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Hello Spring - OAuth Client Application</title>
<meta name="viewport" content="width=device-width" />
</head>

<body>
<h2>Hello, i am an OAuth2 client!</h2>
<p>Visit your <a th:href="@{/me}">personal page</a></p>
</body>

</html>
