<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Hello Spring - OAuth Client Application</title>
<meta name="viewport" content="width=device-width" />
</head>

<body>
<h2>Hello <span th:text="${username}">visitor</span>!</h2>
<p>Your email is <code th:text="${userinfo.get('email')}">someone@example.com</code></p>
</body>

</html>
